* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body {
    color: white;
    font-family: sans-serif;
}

/************* HEADER **************/
header {
   background-image: url(jumbo.png);
    display: flex;
    font-size:1em;
    padding: 1rem;
    justify-content: center;
}




.pulsante{
    border-radius: 20px;
    background-color: white;
    margin-left: 100px;
    


}




    
.box1{
    
    width: 95rem;
    font-weight: bold;
    font-style: italic;
    display: flex;
    justify-content: flex-start;
   
}

.box2{
    
    width: 70%;
    text-align: center;
    
}



/********FLEX-CONTAINER*********/

.flex-container{
    background-image: url(jumbo.png);
    display: flex;
    height: 33rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}

.tasto{
    border-radius: 100px;
    background-color:white;
    margin-left: 90;
    height: 29px;
}


.tasto3{
    border-radius: 100px;
    background-color: black;
    margin-left: 90;
    color: white;
    height: 29px;
}


p{
    text-align-last: center;
    height: 20%;
    width: 100%;
    min-height: 9rem;
    font-size: x-large;
}




h1{
    height: 20%;
    width: 100%;
    min-height: 16rem;
    font-size: xxx-large;
}




nav {
    height: 100%;
    width: 46%;
    min-height: 15rem;
    text-align: center;

}


.text{
    color: white;
}



/********Main********/


.main{
    display: flex;
    padding: 7rem;
    justify-content: space-around;

}

.big-box{
    background-image: url(item1.svg);
    min-height: 30rem;
    min-width: 41rem;
    height: 1;
}


.small-box{
    width:50%;
    min-height: 15rem;
    text-align: center;
    color:black ;
    

}

/******Main-Center*****/


.main-center{
    display: flex;
    padding: 7rem;
    justify-content: space-around;
}




.piccolo-box{
    width:50%;
    min-height: 15rem;
    text-align: center;
    color:black; 
}   



.grande-box{
    background-image: url(item2.svg);
    min-height: 30rem;
    min-width: 41rem;
    height: 1;
}

.main-last{
    display: flex;
    padding: 7rem;
    justify-content: space-around;
}

.fat-box{
    background-image: url(item3.svg);
    min-height: 30rem;
    min-width: 41rem;
    height: 1;
}




.Slim-box{
    width:50%;
    min-height: 15rem;
    text-align: center;
    color:black ;
}



/*******Main-end*****/




.chest-box{
    width:50%;
    min-height: 15rem;
    text-align: center;
    color:black ;
    align-self: center;

}



.chest-box1{
    background-image: url(item4-big.svg);
    min-height: 30rem;
    min-width: 53rem;
    height: 1;
    align-self: center;



}

.main-end{
    display: flex;
    padding: 7rem;
    flex-flow: column-reverse;
}
    



.row:nth-child(even){
    background-color: lightgray;
}



/*Seconda parte footer*/


footer{
    display: flex;
    padding: 7rem;
    flex-flow: column-reverse;
}

.chest-end{
    background-color: rgb(197, 49, 226);
    height: fit-content;
    width: 15%;
    border: Dashed black
}


.chest-first{
    width:50%;
    min-height: 15rem;
    text-align: center;
    color:black ;
    align-self: center;

}


.tasto4{
    border-radius: 100px;
    background-color:rgb(76, 114, 241);
    margin-left: 90;
    height: 42px;
    color: white;
}


















































